<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grasshopper" version="8.27.26019.16021" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="RhinoCommon" version="8.27.26019.16021" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
</packages>